body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: rgb(66, 66, 66);
    background: linear-gradient(0deg, rgb(204, 204, 204) 4%, rgb(214, 212, 212) 10%, rgb(192, 190, 190) 37%, rgb(170, 165, 165) 60%, rgb(143, 142, 142) 100%);
}
.index-container .logo {
    position: relative;
    bottom: 40px;
}

.head {
    color: white;
}

.index_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 400px;
    height: 550px;
}

.index_container .logo {
    max-width: 450px;
    min-width: 250px;
    width: 50%;
}


.index_container .info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}

.message,
.message-2 {
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    position: relative;

}

.message {
    font-size: 40px;
    color: rgb(73, 73, 73);
    position: relative;
    bottom: -10px;

}

.message-2 {
    color: bl;
    font-weight: bold;
}

.select-button {
    border-radius: 7px;
    background-color: white;
    height: 30px;
    width: 120px;
    color: rgb(0, 0, 0);
    border: white 2px solid;
    cursor: pointer;
    padding: 1px;
    margin-left: 5px;
}

.select-button:hover {
    background-color: rgb(37, 150, 190);
    color: white;
    border: rgb(37, 150, 190);
    transition: .4s;
    scale: 1.06;
}

.name-button {

    border-radius: 7px;
    background-color: white;
    height: 30px;
    width: 170px;
    color: rgb(0, 0, 0);
    border: white 2px solid;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.name-button:hover {
    background-color: rgb(37, 150, 190);
    border: rgb(37, 150, 190);
    color: white;
    transition: .4s;
    scale: 1.06;
}


@media screen and (max-width: 767px) {
    .main {
        width: 90%;
        padding: 10px;
        height: auto;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 90%;
        height: auto;
    }
}

.messs{
    text-align: center;
    position: relative;
    color: white;
    font-size: 40px;
    top: -10px;
}
