body {
    background: rgb(196, 193, 193);
    background: linear-gradient(0deg, rgb(204, 204, 204) 4%, rgb(214, 212, 212) 10%, rgb(192, 190, 190) 37%, rgb(170, 165, 165) 60%, rgb(143, 142, 142) 100%);
    height: 100vh;
    position: relative;

}



.main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    padding: 10px 30px;
    position: relative;
    z-index: 2;
}


@media screen and (max-width: 767px) {
    .main {
        width: 90%;
        padding: 10px;
        height: auto;
    }
}



.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -20px;
}

.formm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    row-gap: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cat-select,
.item-select,
.count-select {
    position: relative;
    top: -5px;
    border: 1px solid transparent;
    border-radius: 12px;
    text-align: center;
    width: 150px;
    height: 20px;
    cursor: pointer;
}

.cat-select:hover,
.item-select:hover,
.count-select:hover{
    scale: 1.08;
    transition: .4s;
}

.cat-label,
.item-label,
.count-label{
    font-size: 19px;
}

.add-button {
    border: 2px solid white;
    border-radius: 12px;
    width: 125px;
    height: 28px;
    background-color: white;
    position: relative;
    top: 10px;
}

.add-button:hover {
    scale: 1.05;
    background-color: rgb(3, 201, 0);
    transition: .3s;
    color: white;
    border: solid rgb(3, 201, 0);
}

.submit-butt,
.home-butt {
    background-color: white;
    border: 2px solid white;
    width: 120px;
    border-radius: 10px;
    height: 25px;
    position: relative;

}

.submit-butt:hover,
.home-butt:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.4s;
    background-color: rgb(3, 201, 0);
    color: white;
    border: 1px solid rgb(3, 201, 0);
}
