body {
    background: rgb(196, 193, 193);
    background: linear-gradient(0deg, rgb(204, 204, 204) 4%, rgb(214, 212, 212) 10%, rgb(192, 190, 190) 37%, rgb(170, 165, 165) 60%, rgb(143, 142, 142) 100%);
    height: 100vh;
    position: relative;
}

.main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    padding: 10px 30px;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .main {
        width: 90%;
        padding: 10px;
        height: auto;
    }
}



.logoo img {
    height: 100%;
    object-fit: contain;
}



.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.balady-button,
.fren-button,
.shamy-button {
    width: 60px;
    font-size: 18px;
}

.radio_group {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 10px;
    margin-top: 10px;
}

.radio_group input[type="radio"] {
    display: none;
}

.radio_group label {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: .3s;
    border: 1px solid black;
}

.radio_group label:hover {
    scale: 1.05;
}

.radio_group input[type='radio']:checked+label {
    background-color: rgb(37, 150, 190);
    color: white;
    scale: 1.1;
    border: 1px solid rgb(37, 150, 190)
}

.food-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
    padding: 20px;
    position: relative;
}

.cat,
.itemm,
.countt {
    position: relative;
    top: -5px;
    border: 1px solid transparent;
    border-radius: 12px;
    text-align: center;
    width: 150px;
    height: 20px;
    cursor: pointer;
}

.add {
    border: 2px solid white;
    border-radius: 12px;
    width: 125px;
    height: 28px;
    background-color: white;
    position: relative;
    top: 10px;
}

.submit,
.home {
    background-color: white;
    border: 2px solid white;
    width: 120px;
    border-radius: 10px;
    height: 25px;
    position: relative;
}

.submit:hover,
.home:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.4s;
    background-color: #94c221;
    color: white;
    border: 1px solid #94c221;
}

.cat-label,
.item-label,
.count-label {
    font-size: 19px;
}

.special {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.special input[type="checkbox"] {
    display: none;
}

.special label {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: .3s;
    border: 1px solid black;
}

.special label:hover {
    scale: 1.05;
}

.special input[type='checkbox']:checked+label {
    background-color: rgb(37, 150, 190);
    color: white;
    scale: 1.1;
    border: 1px solid rgb(37, 150, 190)
}
