body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: rgb(66, 66, 66);
    background: linear-gradient(0deg, rgb(204, 204, 204) 4%, rgb(214, 212, 212) 10%, rgb(192, 190, 190) 37%, rgb(170, 165, 165) 60%, rgb(143, 142, 142) 100%);
}
