<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="/static/index.css">
   <title>E-Vas Breakfast</title>
</head>
<body>
   <span class="overlay"></span>
   <div class="index_container">
      <div class="info_wrapper">
         <img class="logo" src="https://e-vastel.com/wp-content/uploads/2017/03/web-logo.png" alt="EVASTEL">

         <div class="message">Good Morning </div>
         <span class="messs"></span>
         <form action="/order" method="get" class="form">
            <select id="employee_name" name="employee" class="name-button">
               {% for employee in employees %}
               <option value="{{ employee }}">{{ employee }}</option>
               {% endfor %}
            </select>
            <input  type="submit" value="Select" class="select-button">
         </form>
         <div class="message-2"> {{welcome_message}}</div>
      </div>
   </div>
</body>
</html>