<!DOCTYPE html>
<html>

<head>
   <title>Order For {{employee}}</title>
   <link rel="stylesheet" href="/static/koshary_index.css">
</head>

<body>
   <div class="main">
         <img src="https://e-vastel.com/wp-content/uploads/2017/03/web-logo.png" alt="EVASTEL">
         {%if employee in employees%}
            <H1>Good Morning {{employee}}</H1>
            <form>
               <div class="formm">
                  <label for="category" class="cat-label"><b>Category:</b></label>
                  <select name="category" class="cat-select" onchange="updateItems()" id="category">
                     <option value="">--Select Category--</option>
                     {%for category in menu%}
                     <option value="{{category}}">{{category}}</option>
                     {%endfor%}
                  </select>
                  <label for="item" class="item-label"><b>Item:</b></label>
                  <select name="item" id="item" class="item-select">
                     <option value="">--Select Item--</option>
                  </select>
                  <label for="count" class="count-label"><b>Count:</b></label>
                  <input type="number" name="count" min="1" value="1" id="count" class="count-select">
                  <button type="button" onclick="addItem()" class="add-button">Add Item</button>
               </div>
            </form>
            <div id="cart">
               <h3>Cart</h3>
               <p>Your cart is empty</p>
             </div>
            <button id="submit-button" class="submit-butt" onclick="submitOrder()">Submit Order</button>
            <form action="/" method="GET">
               <input type="submit" value="Home" class="home-butt">
            </form>
         </div>



</body>


<script>
   'use strict';
   var categories = JSON.parse('{{ menu | tojson | safe }}');
   var items = [];
   var cart = [];

   function updateItems() {
      var form = document.querySelector('form');
      var category = form.querySelector('select[name="category"]').value;
      var itemSelect = form.querySelector('select[name="item"]');
      var itemsList = Object.keys(categories[category]);

      itemSelect.innerHTML = '';

      for (var i = 0; i < itemsList.length; i++) {
         var item = itemsList[i];
         var option = document.createElement('option');
         option.value = item;
         option.innerText = item;
         itemSelect.appendChild(option);
      }
   }
   function addItem() {
      var form = document.querySelector('form');
      var category = form.querySelector('select[name="category"]');
      var item = form.querySelector('select[name="item"]');
      var count = form.querySelector('input[name="count"]');



      if (item.value && count.value) {
         var existingCartItem = cart.find(function (cartItem) {
            return cartItem.item === item.value;
         });

         if (existingCartItem) {
            existingCartItem.count = parseInt(existingCartItem.count) + parseInt(count.value);
         } else {
            cart.push({
               item: item.value,
               count: parseInt(count.value),
            });
         }

         updateCart();
      }
   }

   function removeCartItem(index) {
      cart.splice(index, 1);
      updateCart();
   }

   function updateCartItem(index) {
      var cartItem = cart[index];
      var newCount = prompt('Enter new count for ' + cartItem.item, cartItem.count);

      if (newCount !== null && newCount !== '') {
         cartItem.count = parseInt(newCount);
         updateCart();
      }
   }

   function updateCart() {
      var cartContainer = document.getElementById('cart');

      if (cart.length > 0) {
         var html = '<h3>Cart</h3>';
         html += '<ul>';

         for (var i = 0; i < cart.length; i++) {
            html += '<li>' + cart[i].count + '  ' + cart[i].item + '  <button type="button" onclick="removeCartItem(' + i + ')">Remove</button> <button type="button" onclick="updateCartItem(' + i + ')">Update</button></li>';
         }

         html += '</ul>';
         cartContainer.innerHTML = html;
      } else {
         cartContainer.innerHTML = '<h3>Cart</h3><p>Your cart is empty</p>';
      }
   }

   function submitOrder() {
      var submitButton = document.getElementById('submit-button');
      submitButton.disabled = true;
      if (cart.length == 0) {
         alert('Error: cart is empty');
         submitButton.disabled = false;
         return;
      }
      const queryParams = new URLSearchParams(window.location.search);
      const name = queryParams.get('employee');
      var total = 2.5;
      for (var i = 0; i < cart.length; i++) {
         var category = categoryOfCartItem(cart[i]);
         var itemPrice = categories[category][cart[i].item];
         total += itemPrice * cart[i].count;
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', `/submit-order?employee=${name}`);
      xhr.setRequestHeader('Content-Type', 'application/json');
      var data = {
         cart: cart,
         total: total
      };
      xhr.onload = function () {
         if (xhr.status === 200) {
            alert(`Order submitted successfully. Total price: ${total} EGP *Including Delivery`);
            items = [];
            cart = [];
            updateCart();
         } else {
            alert('Error submitting order');
         }
         submitButton.disabled = false;
      };
      xhr.send(JSON.stringify(data));
   }

   function categoryOfCartItem(cartItem) {
      for (var category in categories) {
         if (cartItem.item in categories[category]) {
            return category;
         }
      }
      return null;
   }
</script>
{%else%}
<h2>Invalid Name</h2>
{%endif%}
</html>