<!DOCTYPE html>
<html>
<head>
  <title> {{employee}}'s Order</title>
  <link rel="stylesheet" href="/static/oriental_index.css">
</head>

<body>
  <div class="main">
      <img src="https://e-vastel.com/wp-content/uploads/2017/03/web-logo.png" alt="E-VASTEL">

      {%if employee in employees%}
      <H1>Good Morning {{employee}}</H1>
      <div class="buttons-container">
        <form>
          <div class="radio_group">
            <input type="radio" id="balady" name="order-type" value="بلدي">
            <label for="balady" class="balady-button">بلدي</label>
            <input type="radio" name="order-type" value="شامي" id="shamy">
            <label for="shamy" class="shamy-button">شامي</label>
          </div>
          <div class="food-type">
            <label for="category" class="cat-label"> <b>Category:</b> </label>
            <select name="category" onchange="updateItems()" id="category" class="cat">
              <option value="">--Select Category--</option>
              {%for category in menu%}
              <option value="{{category}}">{{category}}</option>
              {%endfor%}
            </select>
            <label for="item" class="item-label"><b>Item:</b></label>
            <select name="item" id="item" class="itemm">
              <option value="">--Select Item--</option>
            </select>
            <label for="count" class="count-label"> <b>Count:</b> </label>
            <input type="number" name="count" min="1" value="1" id="count" class="countt">
            <div class="special">
              <input type="checkbox" id="tehena" class="tehh" name="comment" value="طحينة فقط">
              <label for="tehena">طحينة فقط</label>

              <input type="checkbox" class="sala" id="salad" name="comment" value="سلطة فقط">
              <label for="salad">سلطة فقط</label>
            </div>
            <button type="button" onclick="addItem()" class="add">Add Item</button>
          </form>
          <div id="cart">
            <h3>Cart</h3>
            <p>Your cart is empty</p>
          </div>
            <button id="submit-button" onclick="submitOrder()" class="submit">Submit Order</button>
            <form action="/" method="GET">
              <input type="submit" value="Home" class="home">
              {%else%}
              <h2>Invalid Name</h2>
              {%endif%}
          </div>
        </form>
      </div>

    </div>
    <script> 'use strict';
      var categories = JSON.parse('{{ menu | tojson | safe }}');
      var items = [];
      var cart = [];
      function updateItems() {
        var form = document.querySelector('form');
        var category = form.querySelector('select[name="category"]').value;
        var itemSelect = form.querySelector('select[name="item"]');
        var itemsList = Object.keys(categories[category]);
        itemSelect.innerHTML = '';
        for (var i = 0; i < itemsList.length; i++) {
          var item = itemsList[i];
          var option = document.createElement('option');
          option.value = item;
          option.innerText = item;
          itemSelect.appendChild(option);
        }
      }

      function addItem() {
        var form = document.querySelector('form');
        var comment = form.querySelector('input[name="comment"]:checked');
        var orderType = form.querySelector('input[name="order-type"]:checked');
        var category = form.querySelector('select[name="category"]');
        var item = form.querySelector('select[name="item"]');
        var count = form.querySelector('input[name="count"]');
        if (category.value === 'العلب' || category.value === 'المقبلات') {
          orderType = {
            value: ''
          };
          comment = {
            value: ''}
        } else if (!orderType) {
          alert('Error: Please select شامي or بلدي');
          return;
        }
        if (!comment) {
          comment = {
            value: ''
          };}
        if (item.value && count.value) {
          var existingCartItem = cart.find(function (cartItem) {
            return cartItem.comment === comment?.value && cartItem.orderType === orderType?.value && cartItem.item === item.value  ;
          });
          if (existingCartItem) {
            existingCartItem.count = parseInt(existingCartItem.count) + parseInt(count.value);
          } else {
            cart.push({
              comment: comment?.value,
              orderType: orderType?.value,
              item: item.value,
              count: parseInt(count.value),
            });
          }
          updateCart();
        }
      }

      function removeCartItem(index) {
        cart.splice(index, 1);
        updateCart();
      }

      function updateCartItem(index) {
        var cartItem = cart[index];
        var newCount = prompt('Enter new count for ' + cartItem.item, cartItem.count);
        if (newCount !== null && newCount !== '') {
          cartItem.count = parseInt(newCount);
          updateCart();
        }
      }

      function updateCart() {
        var cartContainer = document.getElementById('cart');
        if (cart.length > 0) {
          var html = '<h3>Cart</h3>';
          html += '<ul>';
          for (var i = 0; i < cart.length; i++) {
            html += '<li>' + cart[i].count + ' - ' + cart[i].item  + '   ' + cart[i].orderType + '   ' + cart[i].comment + ' <button type="button" onclick="removeCartItem(' + i + ')">Remove</button> <button type="button" onclick="updateCartItem(' + i + ')">Update</button></li>';
          }
          html += '</ul>';
          cartContainer.innerHTML = html;
        } else {
          cartContainer.innerHTML = '<h3>Cart</h3><p>Your cart is empty</p>';
        }
      }

      function submitOrder() {
        var submitButton = document.getElementById('submit-button');
        submitButton.disabled = true;
        if (cart.length == 0) {
          alert('Error: cart is empty');
          submitButton.disabled = false;
          return;
        }
        const queryParams = new URLSearchParams(window.location.search);
        const name = queryParams.get('employee');
        var total = 3;
        for (var i = 0; i < cart.length; i++) {
          var category = categoryOfCartItem(cart[i]);
          var itemPrice = categories[category][cart[i].item];
          total += itemPrice * cart[i].count;
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', `/submit-order?employee=${name}`);
        xhr.setRequestHeader('Content-Type', 'application/json');
        var data = {
          cart: cart,
          total: total
        };
        xhr.onload = function () {
          if (xhr.status === 200) {
            alert(`Order submitted successfully. Total price: ${total} EGP`);
            items = [];
            cart = [];
            updateCart();
          } else {
            alert('Error submitting order');
          }
          submitButton.disabled = false;
        };
        xhr.send(JSON.stringify(data));
      }
      function categoryOfCartItem(cartItem) {
        for (var category in categories) {
          if (cartItem.item in categories[category]) {
            return category;
          }
        }
        return null;
      }
const checkboxes = document.querySelectorAll('input[type="checkbox"]');

// Add event listener to each checkbox
checkboxes.forEach((checkbox) => {
  checkbox.addEventListener('change', function() {
    // Uncheck all other checkboxes when one is checked
    if (this.checked) {
      checkboxes.forEach((cb) => {
        if (cb !== this) {
          cb.checked = false;
        }
      });
    }
  });
});

    </script>
</body>



</html>